// Define colours used in notifications.

// Colour of neutral notifications.
$colour-neutral: #08c;

// Colour of 'good' notifications.
$colour-good: #5abe57;

// Colour of 'bad' notifications.
$colour-bad: #c00;