/*
Notification needs to be invisible by default, as once it's in the DOM,
the 'visible' class will be added to it, which makes it appear with a CSS transition.

In this case, the 'bottom' property is being used to keep the notification off screen until
it's visible.
*/

$height: 100px;

.simple-notification {
  background: $colour-neutral;
  box-shadow: 0 -5px 5px rgba(#000, .1);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  left: 0;
  line-height: $height;
  height: $height;
  position: fixed;
  text-align: center;
  width: 100%;

  bottom: -($height+50); /* Puts it off screen by default. */
  @include vendor-prefix(transition, bottom 0.2s $smooth-ease); /* Transition applied when 'visible' class is added. */

  &.visible {
    bottom: 0;
  }

  &.good {
    background: $colour-good;
  }

  &.bad {
    background: $colour-bad;
  }
}