.simple-notification {
  background: $colour-neutral;
  bottom: 0;
  box-shadow: 0 -5px 5px rgba(#000, .1);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  left: 0;
  line-height: 100px;
  height: 100px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.simple-notification.good {
  background: $colour-good;
}

.simple-notification.bad {
  background: $colour-bad;
}